.category-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.customer-details {
  padding: 12px;
  border-radius: 8px;
}

.customer-details p {
  margin: 5px 0;
  color: #464545;
  font-weight: 400;
  font-size: 17px;
}

.category-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.category-selection h2 {
  color: #333;
  text-align: center;
  font-size: 23px;
}

.category-dropdown {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #939495;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

.category-dropdown:focus {
  outline: none;
  border-color: #939495;
  box-shadow: 0 0 5px rgba(54, 54, 54, 0.3);
}

.next-button-cat{
  width: 40%;
  background-color: #618ac6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button-cat:hover {
  background-color: #386fae;
}

.next-button-cat:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} 