/* Home Page Styling */
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  animation: slideUp 1s ease-out;
  background: #f4fcf9;
}

.home-page h1 {
  color: #202020;
  font-size: 28px;
  font-weight: 500;
  /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); */
  margin-bottom: 20px;
}


/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 12px;
    background: black;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
    transition: all 0.3s ease;
  }
  
  .navbar-brand h2{
    color: #ffffff;
  }
  
  .navbar-brand h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    transition: color 0.3s ease;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-btn {
    font-size: 16px;
    padding: 12px 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* .navbar-btn:hover {
    background-color: #f58088;
  } */
  
  .page {
    animation: fadeIn 1s ease-out;
  }

  /* Responsive Navbar for mobile devices */
@media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .navbar-links {
      flex-direction: row;
      gap: 0px;
    }
  
    .navbar-btn {
      width: 100%;
      padding: 3px 6px;
    }
  }
  

.measurement-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.category-card {
  position: relative;
  flex: 1;
  width: 100%; 
  margin: -3px auto;
  height: 50%;
  overflow: hidden;
}

.category-card img {
  width: 100%;
  object-fit: cover;
}

.men-button, .women-button {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.men-button {
  background-color: #344874;
  color: white;
  width: 122px;
}

.men-button:hover {
  background-color: #254457;
}

.women-button {
  background-color: #f76fb1;
  color: white;
}

.women-button:hover {
  background-color: #f7637c;
}

@media (max-width: 768px) {
  .home-page h1 {
    font-size: 22px;
  }
}