.login-page {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to bottom right, #effaef, #fefefe);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .pin-input {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pin-box {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 5px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .pin-box:focus {
    border-color: #78abf8;
    outline: none;
    box-shadow: 0 0 5px rgba(120, 171, 248, 0.5);
  }
  
  .change-pin-section {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #78abf8;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #5679ae;
    transform: scale(1.05);
  }
  
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  input[type="tel"]:focus {
    background-color: #f8fbf7;
    border-color: #5f5f5f;
    transform: scale(1.02);
    box-shadow: 0 2px 4px rgba(54, 54, 54, 0.96);
    color: #333333;
  }
  