.storage-page {
  background: #f4fcf9;
  padding: 20px;
}

.storage-page h2 {
  margin: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.search-bar {
  padding: 8px;
  width: 100%;
  border: 2px solid #6c6b6b;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 20px;
}

.search-bar:focus {
  border: 3px solid #424242;
  background-color: #f8fbf7;
  box-shadow: 0 2px 4px rgba(197, 193, 193, 0.973);
}

customer-info {
  /* background: #f4fcf9; */
  padding: 15px;
  border-radius: 8px;
}

.customer-card {
  background: linear-gradient(120deg, #fff9f8, #e7f7fbc4);
  color: #1d3557;
  border-radius: 12px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  opacity: 0;
  animation: fadeInUp 1s forwards ease-out;
}

.customer-card:hover {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.customer-card h3 {
  font-size: 24px;
  color: #1d3557;
}

.customer-card p {
  font-size: 16px;
  color: #000000db;
}

.card-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.edit-button, .delete-button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button {
  background-color: #78abf8;
  color: white;
}

.edit-button:hover {
  background-color: #1d3557;
}

.delete-button {
  background-color: #f26d55;
  color: white;
}

.delete-button:hover {
  background-color: #f58088;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  transition: top 0.3s ease, left 0.3s ease;
}

.modal {
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-btn {
  background-color: #f87575;
  color: white;
}

.confirm-btn {
  background-color: #5679ae;
  color: white;
}

.modal-btn:hover {
  opacity: 0.8;
}
