/* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

body {
  background-size: cover;
  /* background: #f4fcf9; */
  background-position: cover;
  color: #333;
  overflow: hidden;
  min-height: 100vh;
  overflow-y: auto;
  animation: fadeIn 1s ease-out; /* Animation on page load */
}

/* Main App Layout */
.app {
  width: 100%;
  padding: 0;
  height: 100%;
  margin: 0 auto;
  backdrop-filter: blur(5px); /* Blurring the background */
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 0 0 20px 0;
  background: #F5F5DC;
  transition: all 0.3s ease;
}

.navbar-brand h2{
  color: #333333;
  font-weight: 500;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-btn {
  font-size: 16px;
  padding: 12px 20px;
  background: none;
  border: none;
  color: #333333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-btn:hover {
  background-color: #b89743;
  border-radius: 18px;
}

.page {
  animation: fadeIn 1s ease-out;
}

/* Responsive Navbar for mobile devices */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-links {
    flex-direction: row;
    gap: 0px;
  }

  .navbar-btn {
    width: 100%;
    padding: 3px 13px;
  }
}

/* Button Styling */

/* General button style */
.button {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 300;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  width: 150px; /* Set button width */
  margin: 10px;
}

button:hover {
  /* transform: scale(1); */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.measurement-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.category-card {
  position: relative;
  flex: 1;
  width: 100%; 
  margin: -3px auto;
  height: 50%;
  overflow: hidden;
}

.category-card img {
  width: 100%;
  object-fit: cover;
}

/* .submit-button {
  background-color: #f58088;
  color: white;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%; 
}

.submit-button:hover {
  background-color: #f58088;
} */

@media (max-width: 768px) {
  .home-page h1 {
    font-size: 22px;
  }
}

/* Measurements Page Container */
.measurements-page {
  align-items: center;
  padding: 30px;
  background: #f4fcf9;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1s ease-out; /* Animation for page load */
}

/* Page Title */
.measurements-title {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
  animation: slideIn 1s ease-out;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

/* Form Container */
.form-container {
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(to bottom right, #effaef, #fefefe);  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Input Fields */
.input-field {
  padding: 14px 18px;
  font-size: 1rem;
  margin: 12px 0;
  border-radius: 8px;
  transition: all 0.3s ease;
  outline: none;
  width: 100%;
  background-color: #f9f9f9; 
  color: #333333; /* Dark text color */
}

.input-field:focus {
  background-color: #f8fbf7; 
  border-color: #5f5f5f;
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(54, 54, 54, 0.96);
  color: #333333; 
}

.input-field::placeholder {
  color: #333333; /* Lighter color for placeholder */
  font-style: italic; /* Italicize placeholder text */
}

.input-field:focus::placeholder {
  color: #272626; /* Lighter blue for placeholder text when focused */
  font-style: normal; /* Remove italic on focus */
}

.input-field + label {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 8px;
  display: inline-block;
  font-weight: 600;
}

.save-name-phone-button:disabled {
  background-color: #47c84d;
  cursor: not-allowed;
}
/* 78abf8 */
.save-name-phone-button {
  padding: 5px 13px;
  background-color: #47c84d;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.save-name-phone-button:hover {
  background-color: #78abf8;
}

.save-name-phone-button.edit-mode {
  background-color: #78abf8; /* Coral background for Edit state */
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.display-text {
  font-size: 20px;
  font-weight: bold;
  color: #172c55;
}

.display-num {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #1d3557;
}

/* Measurement Card Styling */
.measurement-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1.8px solid #1d3557;
  border-radius: 12px;
  color: #333333;
  background: linear-gradient(to bottom right, #e9f7f5, #fefefe);  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  flex-wrap: wrap;
  opacity: 0;
  animation: fadeInUp 1s forwards ease-out;
}

.measurement-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.03); /* Slight scale effect on hover */
}

.measurement-card img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  display: block;
}

.measurement-card .measurement-input {
  flex-grow: 1;
  padding: 4px;
  border-radius: 8px;
  width: 45%;
  margin-top: 5px;
}


.measurement-card .measurement-input h3 {
  margin: 5px;
  color: #0b0b0b;
  text-align: center;
}

.measurement-card .measurement-input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #ddd;
}


.measurement-card .measurement-input input:focus {
  border: 2x solid #0e0e0e;
  background-color: #f8fbf7;
  transform: scale(1.02);
  box-shadow: 0 2px 6px rgba(9, 9, 9, 0.973);
  color: #090909; 
}

.measurement-card div {
  flex-grow: 1;
}

/* Arrow Buttons */
.arrow-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}


/* Success message overlay */
.success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's on top */
  transition: opacity 0.3s ease;
}

/* Success message box */
.success-message {
  background-color: #5fd48a; /* Green background */
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Modal Overlay */
.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  transition: top 0.3s ease, left 0.3s ease;
}

/* Modal Container */
.modal {
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Modal Buttons */
.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.modal-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.cancel-btn {
  background-color: #f87575; /* Red for Cancel */
  color: white;
}

.confirm-btn {
  background-color: #5679ae; /* Green for Confirm */
  color: white;
}

.modal-btn:hover {
  opacity: 0.8;
}


/* Customer Card Styling */
.customer-card {
  background: linear-gradient(120deg, #fff9f8, #e7f7fbc4);
  color: #1d3557;  
  border-radius: 12px;
  padding: 18px;
  margin: 10px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  opacity: 0;
  animation: fadeInUp 1s forwards ease-out; /* Animation for customer card */
}

.customer-card:hover {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.customer-card h3 {
  font-size: 24px;
  color: #1d3557;
}

.storage-page{
  background: #f4fcf9;
}

.storage-page h2{
  margin: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
.customer-card p {
  font-size: 16px;
  color: #000000db;
}

.card-actions {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.edit-button, .delete-button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button {
  background-color: #78abf8;
  color: white;
}

.edit-button:hover {
  background-color: #1d3557;
}

.delete-button {
  background-color: #f26d55;
  color: white;
}

.delete-button:hover {
  background-color: #f58088;
}

.search-bar {
  display: block;
  margin: 20px auto; /* Centers the search bar */
  width: 50%; /* Reduces width to 50% */
  max-width: 400px; /* Maximum width */
  padding: 8px 30px; /* Adjusted padding */
  border: 2px solid #6c6b6b;
  border-radius: 6px;
  font-size: 16px;
}

.search-bar:focus {
  border: 3px solid #424242;
  background-color: #f8fbf7;
  box-shadow: 0 2px 4px rgba(197, 193, 193, 0.973);
}

/* Add media query for mobile responsiveness */
@media (max-width: 768px) {
  .search-bar {
    width: 80%; /* Wider on mobile devices */
  }
}

/* Edit Customer Page */
.edit-customer-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.edit-page-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1d3557;
}

.customer-info {
  text-align: left;
  font-size: 16px;
}

.customer-info .label {
  margin: 5px 0;
  color: #090909;
  margin-right: 2px;
}

.customer-info .customer-detail {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 16px;
}

.edit-customer-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #f4fcf9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.measurement-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #1d3557;
  text-align: center;
}

.measurement-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  position: relative;
}

.edit-customer-form input[type="number"],
.edit-customer-form input[type="text"] {
  width: 100%;
  padding: 6px;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
}


label {
  font-weight: 500;
  font-size: 15px;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #53b358cc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #257d29fe;
}

/* Animations */

@keyframes inputFocusAnimation {
  0% {
    transform: scale(1);
    background-color: #f9f9f9;
  }
  100% {
    transform: scale(1.02);
    background-color: #bae5ef;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
